<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy;
            <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <span id="footer-icon">
                <a href="https://gitlab.com/eldiosx/straycat" class="fa-solid fa-font-awesome fa-fw"></a>
            </span>
            &commat;<%= config.author %>
        </div>
        <div>
            Powered by <a href="https://ignisus.org">Ignisus</a> &amp;
            <a href="https://gitlab.com/users/eldiosx/projects">GitLab</a>
        </div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            备案号：
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        </div>
        <% } %>
    </div>
</footer>
