<div id="home-head">
    <div
         id="home-background"
         ref="homeBackground"
         data-images="<%- theme.background.map(url_for) %>"></div>
    <div id="home-info" @click="homeClick">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <img class="location-icon"
                     src="<%- url_for(theme.title) %>"
                     alt="location">
                <h3>
                    <%= config.subtitle %>
                </h3>
                <h5>
                    <%= config.description %>
                </h5>
            </div>
        </span>
    </div>
</div>
<div
     id="home-posts-wrap"
     ref="homePostsWrap"
     <%- theme.card.enable || 'class="home-posts-wrap-no-card"' %>
    >
    <div id="home-posts">
        <%- partial("posts") %>
            <%- partial("current") %>
    </div>
    <% if (theme.card.enable) { %>
        <div id="home-card">
            <%- partial("card") %>
        </div>
        <% } %>
</div>