<div class="article">
    <div>
        <h1>
            <%= page.title %>
        </h1>
    </div>
    <div class="info">
        <span class="date">
            <span class="icon">
                <i class="fa-solid fa-calendar fa-fw"></i>
            </span>
            <%= date(page.date, "YYYY/M/D" ) %>
        </span>
        <% if (page.categories && page.categories.data.length !==0) { %>
            <span class="category">
                <a href="<%- url_for(page.categories.data[0].path) %>">
                    <span class="icon">
                        <i class="fa-solid fa-bookmark fa-fw"></i>
                    </span>
                    <%= page.categories.data[0].name %>
                </a>
            </span>
            <% } %>
                <% if (page.tags && page.tags.data.length !==0) { %>
                    <span class="tags">
                        <span class="icon">
                            <i class="fa-solid fa-tags fa-fw"></i>
                        </span>
                        <% let prev; %>
                            <% page.tags.data.forEach((tag)=> { %>
                                <span class="tag">
                                    <%
                                       const colors=theme.colors.filter((color)=> color !== prev);
                                        let id = Math.floor(Math.random() * colors.length);
                                        prev = colors[id];
                                        %>
                                        <a href="<%- url_for(tag.path) %>" style="color: <%- colors[id] %>">
                                            <%= tag.name %>
                                        </a>
                                </span>
                                <% }); %>
                    </span>
                    <% } %>
    </div>
    <% if (theme.crypto.enable && typeof page.secret !=="undefined" ) { %>
        <% const CryptoJS=getCryptoJS(); %>
            <input
                   id="crypto"
                   :class="['input', cryptoStatus]"
                   :disabled="cryptoStatus === 'success'"
                   ref="crypto"
                   placeholder="El artículo está cifrado, introduzca la contraseña."
                   data-encrypted="<%- CryptoJS.AES.encrypt(page.content, page.secret).toString() %>"
                   data-shasum="<%- CryptoJS.SHA256(page.content).toString() %>"
                   v-model="crypto" />
            <transition name="fade">
                <div class="content" ref="content" v-show="cryptoStatus === 'success'"></div>
            </transition>
            <% } else { %>
                <div class="content" v-pre>
                    <%- page.content %>
                </div>
                <% } %>
                    <% if (page.comments) { %>
                        <% if (theme.gitalk.enable) { %>
                            <div id="comment">
                                <div id="gitalk-container"></div>
                            </div>
                            <% } %>
                                <% if (theme.giscus.enable) { %>
                                    <div id="comment">
                                        <div id="giscus-container" class="giscus"></div>
                                    </div>
                                    <% } %>
                                        <% if (theme.waline.enable) { %>
                                            <div id="comment">
                                                <div id="waline-container"></div>
                                            </div>
                                            <% } %>
                                                <% if (theme.twikoo.enable) { %>
                                                    <div id="comment">
                                                        <div id="twikoo-container"></div>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                                            <div>
                                                                <h2>Horario:</h2>
                                                                <p>Lunes: <time datetime="">
                                                                        <%= page.monday %>
                                                                    </time></p>
                                                                <p>Tuesday: <time datetime="">
                                                                        <%= page.tuesday %>
                                                                    </time></p>
                                                                <p>Wednesday: <time datetime="">
                                                                        <%= page.wednesday %>
                                                                    </time></p>
                                                                <p>Thursday: <time datetime="">
                                                                        <%= page.thursday %>
                                                                    </time></p>
                                                                <p>Friday: <time datetime="">
                                                                        <%= page.friday %>
                                                                    </time></p>
                                                                <p>Saturday: <time datetime="">
                                                                        <%= page.saturday %>
                                                                    </time></p>
                                                                <p>Sunday: <time datetime="">
                                                                        <%= page.sunday %>
                                                                    </time></p>
                                                            </div>
                                                            <br>
                                                            <div class="location">
                                                                <h2>Ubicación:</h2>
                                                                <img class="location-icon"
                                                                     src="<%- url_for(theme.location) %>"
                                                                     alt="location">
                                                                <iframe
                                                                        src="<%= page.map %>"
                                                                        width="100%" height="400px" title="Maps"
                                                                        allowfullscreen class="map">
                                                                </iframe>
                                                            </div>

</div>