<%
    let posts = site.posts,
        current = (page.current - 1) * config.index_generator.per_page;
    posts.data.sort((a, b) => {
        let x = a.pinned ?? 0,
            y = b.pinned ?? 0;
        return x === y ? b.date - a.date : y - x;
    });
    posts = posts.slice(current, config.index_generator.per_page + current);
%>
<% posts.forEach((post) => { %>
<div class="post">
    <a href="<%- url_for(post.path) %>">
        <h2 class="post-title"><%= post.title %></h2>
    </a>
    <div class="category-and-date">
        <% if (post.categories.data.length !== 0) { %>
        <span class="category">
            <a href="<%- url_for(post.categories.data[0].path) %>">
                <span class="icon">
                    <i class="fa-solid fa-bookmark fa-fw"></i>
                </span>
                <%= post.categories.data[0].name %>
            </a>
        </span>
        <% } %>
        <span class="date">
            <span class="icon">
                <i class="fa-solid fa-calendar fa-fw"></i>
            </span>
            <%- date(post.date, "YYYY/M/D") %>
        </span>
        <% if (theme.crypto.enable && typeof post.secret !== "undefined") { %>
        <span class="special">
            <i class="fa-solid fa-lock fa-fw"></i>
        </span>
        <% } %>
        <% if (typeof post.pinned !== "undefined") { %>
        <span class="special">
            <i class="fa-solid fa-grip-vertical fa-fw"></i>
        </span>
        <% } %>
    </div>
    <div class="description">
        <div class="content" v-pre>
            <% if (typeof post.description !== "undefined") { %>
            <%- markdown(post.description) %>
            <% } else if (post.excerpt) { %>
            <%- post.excerpt %>
            <% } else { %>
            <%- post.content %>
            <% } %>
        </div>
    </div>
    <div>
        <p><img class="location" src="<%- url_for(theme.location) %>" alt=""><i class="location-text"><%= post.location %></i></p>
    </div>
    <div class="post-tags">
        <% if (post.tags.data.length !== 0) { %>
        <span class="icon">
            <i class="fa-solid fa-tags fa-fw"></i>
        </span>
        <% } %>
        <% let prev; %>
        <% post.tags.data.forEach((tag) => { %>
        <span class="tag">
            <%
                const colors = theme.colors.filter((color) => color !== prev);
                let id = Math.floor(Math.random() * colors.length);
                prev = colors[id];
            %>
            <a href="<%- url_for(tag.path) %>" style="color: <%- colors[id] %>"><%= tag.name %></a>
        </span>
        <% }); %>
    </div>
    <a href="<%- url_for(post.path) %>" class="go-post">Reservar</a>
</div>
<% }); %>
